.profile-username {
    font-family: fantasy;
    color: green;
}

.edit-profile {
    /* border: solid green 1px; */
    margin: 15px;   
    font-size: large;
}

.profile-info {
    height: 50em;
    /* border-bottom: green solid 1px; */
}

.welcome-to-profile h3 {
    font-size: 4em;
    /* padding-left: .5em; */
}

.welcome-to-profile .profile-username {
    font-size: 1.5em;
    /* padding: 1em; */
    margin-top: 1em;
}

.profile-photo {
    margin-bottom: 10px;
    width: 50%;
    height: 20em;
}

.user-info {
    margin: 5px;
    /* border-bottom: green 2px solid; */
    /* font-size: 100em; */
}

.text-and-favorite-buttons {
    text-align: center;
    margin-top: 1em;
}

#profile-page .float-child {
    width: 50%;
    float: left;
    /* height: 50em; */
    /* border: solid 3px red; */
    /* padding: 10px; */
}
/* 
#profile-info-and-img {
    border-bottom: green solid .5px;
} */

.profile-page-gallery {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(8, 3.5vw);
    grid-gap: 2px;
    height: 50em;
    /* max-width: 40%; */
    
}

.profile-page-gallery .gallery__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.profile-page-gallery .gallery__item--1 {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 3;
}

.profile-page-gallery .gallery__item--2 {
    grid-column-start: 3;
    grid-column-end: 7;
    grid-row-start: 1;
    grid-row-end: 3;
    
}

.profile-page-gallery .gallery__item--3 {
    grid-column-start: 7;
    grid-column-end: 9;
    grid-row-start: 1;
    grid-row-end: 6;
    
}

.profile-page-gallery .gallery__item--4 {
    grid-column-start: 1;
    grid-column-end: 7;
    grid-row-start: 3;
    grid-row-end: 6;
}

.profile-page-gallery .gallery__item--5 {
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 6;
    grid-row-end: 9;
}

.profile-page-gallery .gallery__item--6 {
    grid-column-start: 5;
    grid-column-end: 9;
    grid-row-start: 6;
    grid-row-end: 9;
}

#favorite-remove-button {
    width: 70%;
    font-size: large;
}